.App {
  text-align: center;
  margin: 20px;
}

.input-search {
  width: 70%;
  margin-bottom: 30px;
}

.card-movie {
  height: 100%;
}

.card-desc {
  height: 70%;
}

.btn-add {
  margin: 20px;
}

.modal-body Input {
  margin-bottom: 10px;
}